* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


@font-face {
  font-family: 'main';
  src: url('/fonts/main/main-200.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'main';
  src: url('/fonts/main/main-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'main';
  src: url('/fonts/main/main-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'main';
  src: url('/fonts/main/main-800.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@keyframes move {
  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);

  }
}

.rotate {
  animation: rotate 10s linear  infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);

  }
  100% {
    transform: rotate(360deg);
  }
}