* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes move {
  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);

  }
}

.rotate {
  animation: rotate 10s linear  infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);

  }
  100% {
    transform: rotate(360deg);
  }
}